# Verification Report

Generated: 2025-11-18T22:25:00.452565

## Summary

- **Files scanned**: 114
- **Docs created**: 349
- **Errors**: 0
- **Skipped files**: 0
- **Binary files**: 40

## Binary Files

- `notebooks/figures/02.05-broadcasting.png`
- `notebooks/figures/03.08-split-apply-combine.png`
- `notebooks/figures/05.01-classification-1.png`
- `notebooks/figures/05.01-classification-2.png`
- `notebooks/figures/05.01-classification-3.png`
- `notebooks/figures/05.01-clustering-1.png`
- `notebooks/figures/05.01-clustering-2.png`
- `notebooks/figures/05.01-dimesionality-1.png`
- `notebooks/figures/05.01-dimesionality-2.png`
- `notebooks/figures/05.01-regression-1.png`
- `notebooks/figures/05.01-regression-2.png`
- `notebooks/figures/05.01-regression-3.png`
- `notebooks/figures/05.01-regression-4.png`
- `notebooks/figures/05.02-samples-features.png`
- `notebooks/figures/05.03-2-fold-CV.png`
- `notebooks/figures/05.03-5-fold-CV.png`
- `notebooks/figures/05.03-bias-variance-2.png`
- `notebooks/figures/05.03-bias-variance.png`
- `notebooks/figures/05.03-learning-curve.png`
- `notebooks/figures/05.03-validation-curve.png`
- `notebooks/figures/05.05-gaussian-NB.png`
- `notebooks/figures/05.06-gaussian-basis.png`
- `notebooks/figures/05.08-decision-tree-levels.png`
- `notebooks/figures/05.08-decision-tree-overfitting.png`
- `notebooks/figures/05.08-decision-tree.png`
- `notebooks/figures/05.09-PCA-rotation.png`
- `notebooks/figures/05.09-digits-pca-components.png`
- `notebooks/figures/05.09-digits-pixel-components.png`
- `notebooks/figures/05.10-LLE-vs-MDS.png`
- `notebooks/figures/05.11-expectation-maximization.png`
- `notebooks/figures/05.12-covariance-type.png`
- `notebooks/figures/Data_Science_VD.png`
- `notebooks/figures/PDSH-cover-small.png`
- `notebooks/figures/PDSH-cover.png`
- `notebooks/figures/array_vs_list.png`
- `notebooks/figures/cint_vs_pyint.png`
- `website/content/favicon.ico`
- `website/theme/static/font/icons.eot`
- `website/theme/static/font/icons.ttf`
- `website/theme/static/font/icons.woff`

## Skipped Files


## Errors

No errors encountered.
